.contenedor-conciertos {
    display: grid;
    grid-template-columns: 1fr; /* Solo una columna */
    gap: 20px; /* Espacio entre las cartas */
}

.card {
    width: 100%; /* Ajusta el ancho de las cartas al contenedor */
    height: 300px; /* Altura de las cartas */
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
    background-position: center; /* Centra la imagen de fondo */
    border-radius: 10px; /* Añade bordes redondeados */
    overflow: hidden; /* Evita que el contenido se desborde */
    position: relative; /* Permite posicionar el texto encima de la imagen */
    display: flex; /* Para centrar el contenido verticalmente */
    justify-content: center; /* Para centrar el contenido horizontalmente */
    align-items: center; /* Para centrar el contenido verticalmente */
}

.textos {
    text-align: center; /* Centra el texto horizontalmente */
    color: 	rgb(0, 0, 0); /* Color del texto */
}

.card h3 {
    margin: 0; /* Elimina el margen del título */
}

.card p {
    margin: 5px 0 0; /* Ajusta el margen del párrafo */
}
