.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Margen superior e inferior automático, centrando verticalmente el modal */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho del contenido del modal */
}

/* Estilos para el botón de cerrar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para el botón guardar */
#cambiarContraseñaForm button[type="submit"] {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Estilos para posicionar las etiquetas arriba de los inputs */
#cambiarContraseñaForm label {
  display: block;
  margin-bottom: 10px;
}

/* Estilos para los inputs */
#cambiarContraseñaForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}